/* Customizam Bootstrap */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #2bb686;
  border-color: #2bb686;
}

.text-primary {
  color: #101d42 !important;
}

.text-secondary {
  color: #fbb44c !important;
}

.text-light {
  color: #eaeaea !important;
}

.bg-primary {
  background-color: #141e4c !important;
}

.bg-secondary {
  max-width: 90%;
  margin: 10%;
  background-color: #dfedf5 !important;
  box-shadow: 5px 10px #888888;
  border-radius: 2%;
}
.bg-forecast {
  max-width: 98%;
  margin: 3%;
  background-color: #eddcee !important;
  border-radius: 5px;
}
.container {
  display: block;
  justify-content: center;
}
.bg-dark {
  background-color: #101d42 !important;
}

h1,
h2,
h3 {
  font-weight: bold;
}

/* Adaugam font-ul nostru */
body {
  font-family: "Poppins", sans-serif;
}

/* Layout */
body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Header */
header {
  height: 30vh;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 29px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
}
.scroll-to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50% !important;
  display: none;
  background-color: #101d42;
  color: white;
}
.oneWeather {
  background-color: rgb(150, 228, 226);
  border: solid 1px;
  margin: 15px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 2px 4px #888888;
}
.dayForecast {
  max-width: 400px;
  background-color: rgb(36, 248, 245);
  border: solid 1px;
  margin: 15px;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 2px 5px #888888;
  text-align: center;
}
